@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* 
    Colors
        #e76f51
        #f4a261
        #e9c46a
        #2a9d8f
        #264653
*/

body{
    background-color: #e76f51;
}
.app * {
    color: rgb(209, 222, 233);
    font-family: Raleway;
}


.app .container {
    /* display: inline-grid; */
}

/* .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
} */

.app .profileImage {
    /* width: 50%;
    height: 50%; */
    /* background-color: rgb(81, 98, 112); */
    border: 3px;
    border-radius: 15%;
    border-style: solid;
    border-color: rgb(209, 222, 233);

    /* Center */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.app .content{
    width: 55%;
    height: 100%;
    margin-left: 7%;
    background-color: #1d3557;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

.name {
    text-align: center;
    font-size: 60;
    font-family: 'Saira Stencil One';
}

.title {
    text-align: center;
    font-size: 32;
    font-family: Raleway;
    font-weight: bold;
    color: #e4636e;
    letter-spacing: 5px;
}

.app p{
    text-align: center;
    font-size: 22;
}

